<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Übersicht</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/formular" class="nav-link px-2 text-white">Erfassung Anwesenheit</a></li>
          <li><a href="/teilnahme" class="nav-link active px-2 text-white">Teilnahme</a></li>
            <li><a href="/berechnung" class="nav-link px-2 text-white">Jahr 2022</a></li>
        </ul>


      </div>

    </div>
  </header>
<div class="container-fluid">
    <h1>Jahresübersicht</h1>
<div class="container">
        <br>
        {% if datei_inhalt %}
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Datum</th>
                        <th>Anlass</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eintrag in datei_inhalt: %}
                    <tr>
                        {% for item, value in eintrag.items(): %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Keine Einträge vorhanden</p>
        {% endif %}
    </div>
</div>
{% include "footer.html" %}
