<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Anwesenheit</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/formular" class="nav-link active px-2 text-white">Erfassung Anwesenheit</a></li>
          <li><a href="/teilnahme" class="nav-link px-2 text-white">Teilnahme</a></li>
            <li><a href="/berechnung" class="nav-link px-2 text-white">Übersicht 2022</a></li>
        </ul>


        </div>

    </div>
  </header>
<div class="container-fluid">
    <h1>Eingabe Anwesenheit</h1>
    <p>Erfasse hier deine Anwesenheit</p>
        <select class="form-select" aria-label="Default select example" name="vorname">
            <option selected>Wer bist du?</option>
            <option value="Stefanie">Stefanie</option>
            <option value="Philipp">Philipp</option>
            <option value="Rene">Rene</option>
            <option value="Mario">Mario</option>
            <option value="Urs">Urs</option>
            <option value="Cilli">Cilli</option>
        </select>
        <br>
    <p>Erfasse hier deinen Anlass</p>
        <select class="form-select" aria-label="Default select example" name="event">
            <option selected>Was möchtest du eintragen?</option>
            <option value="Probe">Probe</option>
            <option value="Auftritt">Auftritt</option>
        </select>
    <br>
    <input type="date" name="datum" placeholder="Datum">
    <br><br>
    <a href="/ok/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Senden</a>
</div>
{% include "footer.html" %}

